<html>

<head>
    <link rel="stylesheet" href="myStyle.css">
</head>

<head>
    <style>
        table,
        th,
        td {
            border: 2px solid black;
        }
    </style>

</head>

<body>
    <h1>List Task</h1> </br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Task ID</th>
            <th>Task Name</th>
            <th>Assign To </th>
            <th>Task Due Date</th>
            <th>Task Status</th>
            <th>Task Description</th>
        </tr>
        <% for (let i =0;i<tasks.length;i++){ %>
        <tr>
            <td>
                <%= tasks[i].TaskId %>
            </td>
            <td>
                <%= tasks[i].TaskName %>
            </td>
            <td>
                <%= tasks[i].TaskAssign %>
            </td>
            <td>
                <%= tasks[i].TaskDue %>
            </td>
            <td>
                <%= tasks[i].TaskStatus %>
            </td>
            <td>
                <%= tasks[i].TaskDesc %>
            </td>
        </tr>
        <% }%>
    </table>
    <p>
        <a href="/">Home</a>
        <a href="/newtask">Add new Task</a>
        <a href="/listTask">List Task</a>
        <a href="/updateTask">Update Task</a>
        <a href="/deleteTask">Delete Task</a>
        <a href="/deleteAll">Delete All</a>


    </p>

</body>

</html>