<html>

<head>
    <link rel="stylesheet" href="myStyle.css">>
</head>

<body>

        <h1>Enter new Task:</h1>
        <form action="addtask" method="post">
            Task Name <input type="text" name="TaskName" /><br />
            Task Assign <input type="text" name="TaskAssign" /><br />
            Task Due <input type="date" name="TaskDue" /><br />
            Task Status:
            <select name="TaskStatus">
                <option value="In Progress"> In Progress</option>
                <option value="Complete"> Complete</option>
            </select></br>
            Task Description <input type="text" name="TaskDesc" /><br />
            <button style="height: 25px;width: 80px">Submit</button>
        </form>
        <p>
            <a href="/">Home</a>
            <a href="/newtask">Add new Task</a>
            <a href="/listTask">List Task</a>
            <a href="/updateTask">Update Task</a>
            <a href="/deleteTask">Delete Task</a>
            <a href="/deleteAll">Delete All</a>


        </p>
</body>

</html>